@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', Sans-Serif;
  background-color: #03001C;
}

.nav-underline .nav-link.active {
  color: dodgerblue;
}

.profile img {
  border: 4px solid dodgerblue;
}

.social .bi {
  color: white;
}

.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid yellow;
  overflow: hidden;
  border-radius: 30px;
  color: white;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: yellow;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #333;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.u-about h3 {
  text-decoration: underline;
  text-decoration-color: dodgerblue;
  text-underline-offset: 0.5em;
}

.about .container {
 height: 364px;
 margin: 0 auto;
 background-color: #F8FBFE;
 border-radius: 8px;
 z-index: 1;
}

.card__content {
  margin: 30px 30px;
}

.tools {
 display: flex;
 align-items: center;
 padding: 9px;
}

.circle {
 padding: 0 4px;
}

.box {
 display: inline-block;
 align-items: center;
 width: 10px;
 height: 10px;
 padding: 1px;
 border-radius: 50%;
}

.red {
 background-color: #ff605c;
}

.yellow {
 background-color: #ffbd44;
}

.green {
 background-color: #00ca4e;
}

.bio h5 {
  margin-bottom: 30px;
}

/*Project*/
#project .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  background-color: #03C988;
  border-radius: 20px;
}
#project .card {
  height: 540px;
}

#project .text-end {
  font-size: 12px;
  color: #0B666A;
}

#project a {
  position: absolute;
  top: 85%;
  left: 40%;
}

#project .card-text p {
  position: absolute;
  top: 83%;
}

/*Skill*/
#skill {
  margin-top: 80px;
}
#skill .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background-color: #ffffff15;
  margin: 0 auto;
  margin-bottom: 30px;
}

.card:hover {
 transform: scale(0.95);
 transition: all 0.3s;
}

/* === removing default button style ===*/
#skill .button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
#skill .button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 20px;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.card:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

/*Contact*/
#contact {
  color: white;
}

